.claude/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/appInsightsSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/studiobot.xml
/.idea/vcs.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
*.log
app/src/main/jniLibs/*
!app/src/main/jniLibs/arm64-v8a/
app/src/main/jniLibs/arm64-v8a/libavcodec.so
app/src/main/jniLibs/arm64-v8a/libavformat.so
app/src/main/jniLibs/arm64-v8a/libavutil.so
app/src/main/jniLibs/arm64-v8a/libswscale.so